In [6]:
import pandas as pd 
import numpy as np
import os

In [4]:
%pwd

'c:\\Project\\Insurance-ml-Project\\research'

In [7]:
os.chdir("../")

In [8]:
%pwd

'c:\\Project\\Insurance-ml-Project'

In [9]:
df=pd.read_csv('research/insurance.csv')

In [10]:
df.duplicated().sum()

1

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [17]:
df = pd.get_dummies(df,columns = ['sex', 'smoker', 'region'],drop_first = True)

KeyError: "None of [Index(['sex', 'smoker', 'region'], dtype='object')] are in the [columns]"

In [18]:
df.head()

,age,bmi,children,expenses,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.9,0,16884.92,False,True,False,False,True
1,18,33.8,1,1725.55,True,False,False,True,False
2,28,33.0,3,4449.46,True,False,False,True,False
3,33,22.7,0,21984.47,True,False,True,False,False
4,32,28.9,0,3866.86,True,False,True,False,False